
main{
    background-color: #DADADA;
    display: flex;
}

.modelo{
    width: 570px;
    height: 606px;
    margin: 30px 0 50px 100px;
}

.legenda{
    margin: 120px 0 0 150px;
    font-family: 'Lato', sans-serif;
}
.legenda h2{
    font-weight: bold;
    font-size: 35px;
}

.legenda p {
    margin: 20px 0 0 0;
    width: 450px;
    font-size: 20px;
}

.legenda button{
    background: #226E0F;
    border: none;
    width: 200px;
    border-radius: 15px;
    padding: 10px;
    padding-inline: 20px;
    color: #DADADA;
    font-size: 17px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
}

.legenda button:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0.40, 0.40);
}

.produtos{
}